<div class="container new">
  <div class="form-container">
    <h2>Edit Cake</h2>
    <%= simple_form_for (@cake) do |f| %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :size %>
      <%= f.button :submit, "Submit", class: "btn-order" %>
      <%= link_to "Cancel", cake_path(@cake), class: "btn-trash" %>
    <% end %>
  </div>
</div>
