<div class="container ">
  <h1>Find the perfect cake</h1>
  <div class="container">
    <% @cakes.each do |cake| %>
      <%= link_to cake_path(cake) do %>
        <div class="card d-inline-flex align-items-center">
           <h3 class="mt-2"><%= cake.name %></h3>
           <% if !cake.photos.nil? %>
            <%= cl_image_tag cake.photos.first.key, class: 'cake-img' %>
           <% end %>
           <div class="ml-3 mr-3 mt-2">
            <%= cake.description %>
            <%= cake.size %>
           </div>
           <div class="cake-price">
            <p>£ <%= cake.price %></p>
         </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
