<div class="container-main">
  <h1>Cakes in AirbnBake</h1>
  <div class="container-cards">
    <% @cakes.each do |cake| %>
      <%= link_to cake_path(cake) do %>
        <div class="card-cake">
          <div class="container-img">
            <%= cl_image_tag cake.photos.first.key, class: 'cake-img' unless cake.photos.nil? %>
          </div>
          <div class="cake-text">
            <h3> <%= cake.name %> </h3>
            <div id="cake-info">
              <div id="descr">
                </i><%= cake.description %>
                <P><i class="fas fa-ruler"></i> <%= cake.size %></p>
              </div>
              <h2>£ <%= cake.price %></h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

