<div class="container new">
  <div class="form-container">
    <h2> Create a New Cake </h2>
    <%= simple_form_for (@cake) do |f| %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :size %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit, "Create Cake", class: "btn-order" %>
    <% end %>
  </div>
</div>
