<div class="container">
  <h1><%= @cake.name %></h1>
  <% @cake.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <p><%= @cake.description %></p>
  <h3>£<%= @cake.price %></h3>
  <%= link_to "Home", root_path %>
  <%= link_to "Order", new_cake_order_path(cake_id = @cake.id) %>
</div>
