<div class="container">
  <div><h1>Your Dashboard</h1></div>
  <div class="row">
    <div class="col-sm-6">
      <div class="order-list">
        <h2>Your Order List</h2>
        <% if @user.cakes.blank? %>
          <p>You dont have any order, order your first cake now!</p>
        <% else %>
          <% @orders.each do |order| %>
          <div class="card-dash">
             <%= cl_image_tag order.cake.photos.first.key %>
             <div class="card-dash-infos">
               <h2><%= order.cake.name %></h2>
               <p>Order date: <%= order.order_date %></p>
               <p>Total: GBP <%= order.cake.price %></p>
               <% my_reviews = order.reviews.select { |review| review.user_id == current_user.id } %>
               <% if my_reviews.any? %>
               <p>Thanks for your review!</p>
               <% else %>
               <%= link_to 'Review', new_order_review_path(order) %>
               <% end %>
             </div>
         </div>
         <% end %>
         <% end %>
     </div>
   </div>


<!-- div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div> -->



   <div class="col-sm-6">
    <div class="cake-list">
      <h2>Your Cakes</h2>
      <% if @user.cakes.blank? %>
        <p>You're not selling any cakes at the moment. Add your fist cake!</p>
      <% else %>
        <% @cakes.each do |cake| %>
        <div class="card-dash">
          <%= cl_image_tag cake.photos.first.key %>
          <div class="card-dash-infos">
            <%= link_to cake.name, cake_path(cake) %> -  Edit btn - delete btn
          </div>
        </div>
      <% end %>

        <% end %>
    </div>
  </div>
</div>
