<div class="container">
  <div><h1 class="mt-5 mb-4">Your Dashboard</h1></div>
  <div class="row">
    <div class="col-sm-6">
      <div class="order-list">
        <h2 class="mb-3">Your Order List</h2>
        <% if @user.orders.blank? %>
          <p>You dont have any order, order your first cake now!</p>
        <% else %>
        <h2 class="mb-3">Your Order List</h2>
          <% @orders.each do |order| %>
          <div class="card-dash">
             <%= cl_image_tag order.cake.photos.first.key %>
             <div class="card-dash-infos">
               <h2><%= order.cake.name %></h2>
               <p>Order date: <%= order.order_date %></p>
               <p>Total: GBP <%= order.cake.price %></p>
               <% my_reviews = order.reviews.select { |review| review.user_id == current_user.id } %>
               <% if my_reviews.any? %>
               <p>Thanks for your review!</p>
               <% else %>
               <%= link_to 'Review', new_order_review_path(order) %>
               <% end %>
             </div>
         </div>
         <% end %>
         <% end %>
     </div>
   </div>
   <div class="col-sm-6">
    <div class="cake-list">
      <h2 class="mb-3">Your Cakes</h2>
      <% if @user.cakes.blank? %>
        <p>You're not selling any cakes at the moment. Add your fist cake!</p>
      <% else %>
        <% @cakes.each do |cake| %>
        <div class="card-dash">
          <%= cl_image_tag cake.photos.first.key %>
          <div class="card-dash-infos">
            <div class="title-cake"><h2><%= link_to cake.name, cake_path(cake) %></h2></div>
            <p><%= cake.description %></p>
          </div>
        </div>
      <% end %>

        <% end %>
    </div>
  </div>
</div>
