
<div class="container-main">
  <div id="card-user">
    <div id="user-info">
      <h4> <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %> </h4>
      <p> <%= @user.address %> </p>
    </div>
    <div id="user-photo">
      <% if @user.photo.attachment %>
        <% avatar_source = cl_image_path(@user.photo.key, options = {width: 150, height: 150, crop: :thumb, gravity: :face}) %>
        <img src="<%= avatar_source %>">
      <% else %>
        <%= image_tag "default_avatar.jpg" %>
      <% end %>
    </div>
  </div>
  <h1>Cakes available from <%= @user.first_name %> <%= @user.last_name %> </h1>
  <div class="container-cards">
    <% @user.cakes.each do |cake| %>
      <%= link_to cake_path(cake) do %>
        <div class="card-cake">
          <div class="container-img">
            <% cl_image_tag cake.photos.first.key, class: 'cake-img' unless cake.photos.nil? %>
          </div>
          <div class="cake-text">
            <h3> <%= cake.name %> </h3>
            <div id="cake-info">
              <div id="descr">
                </i><%= cake.description %>
                <P><i class="fas fa-ruler"></i> <%= cake.size %></p>
              </div>
              <h2>£ <%= cake.price %></h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
