<div class="container new">
  <div class="form-container">
    <div class="form">
    <h2> Place your order </h2>
    <div class="cake-info">
      <h4><%= @cake.name %></h4>
      <p><%= @cake.description %></p>
      <p>£ <%= @cake.price %></p>
    </div>
      <%= simple_form_for [@cake, @order] do |f| %>
        <%= f.input :order_date, html5: true %>
        <%= f.button :submit, "Submit", class: "btn-order" %>
        <%= link_to "Cancel", cake_path(@cake), class: "btn-trash" %>
      <% end %>
    </div>
  </div>
</div>
