<%= content_for(:navbar_home, "navbar-home") %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1559553156-2e97137af16f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2773&q=80);">
  <div class="container">
  <div class=" home d-flex container flex-column align-items-center">
    <h1>You need a cake for every ocasion, we’ve got it.</h1>
    <p>Join now and have access wherever you are, whenever you need there's a range of delicious cake.</p>
    <div class="search-form">
      <div>
        <div class="search-style">
          <%= form_tag cakes_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "search-form",
              placeholder: "Find your cake"
            %>
          <%= button_tag :submit, class: "btn-search" do %>
           <i class="fas fa-search"></i>
          <% end %>
        </div>
        <% end %>

      </div>
    <a href="https://i.redd.it/q11co2bxbfrz.jpg"><h3>Treat yo self! <%= image_tag "slice.png", class: 'favicon'%></h3></a>
    </div>
  </div>
</div>
