<div class="container new">
  <div class="form-container">
    <div class="form">
      <h2> Leave a review </h2>
      <%= simple_form_for [@order, @review] do |f| %>
        <%= f.input :content, label: 'How was your cake?' %>
        <%= f.label :rating, label: 'How would you rate it?' %>
        <%= f.select :rating, 0..5 %><br>
        <%= f.button :submit, "Submit", class: "btn-order" %>
      <% end %>
    </div>
  </div>
</div>
